.stage {
	width: 500px;
	margin: 0 auto;
}

.stage > img {
	width: 100%;
}

.prev, .next {
	width: 140px;
	height: 40px;
	background-color: #09D;
	color: #FFF;
	text-align: center;	
	cursor: pointer;
	margin: 10px;
}

.controls {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
}